apiVersion: monitoring.coreos.com/v1alpha1
kind: ServiceMonitor
metadata:
  name: samtagateway-app
  namespace: default
  labels:
    team: default
spec:
  selector:
    matchLabels:
      app: samtagateway
  endpoints:
  - port: web
    path: /prometheusMetrics
