<div>
    <h2>
        <span jhiTranslate="niopdcgatewayApp.sellContractCustomer.home.title">Sell Contract Customers</span>
        <button class="btn btn-primary float-right jh-create-entity create-sell-contract-customer" [routerLink]="['/', { outlets: { popup: ['sell-contract-customer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="niopdcgatewayApp.sellContractCustomer.home.createLabel">
            Create new Sell Contract Customer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sellContractCustomers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hasTransport"><span jhiTranslate="niopdcgatewayApp.sellContractCustomer.hasTransport">Has Transport</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="niopdcgatewayApp.sellContractCustomer.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="active"><span jhiTranslate="niopdcgatewayApp.sellContractCustomer.active">Active</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sellContractId"><span jhiTranslate="niopdcgatewayApp.sellContractCustomer.sellContract">Sell Contract</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="customerId"><span jhiTranslate="niopdcgatewayApp.sellContractCustomer.customer">Customer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="locationName"><span jhiTranslate="niopdcgatewayApp.sellContractCustomer.location">Location</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sellContractCustomer of sellContractCustomers ;trackBy: trackId">
                <td><a [routerLink]="['../sell-contract-customer', sellContractCustomer.id ]">{{sellContractCustomer.id}}</a></td>
                <td>{{sellContractCustomer.hasTransport}}</td>
                <td>{{sellContractCustomer.startDate | date:'medium'}}</td>
                <td>{{sellContractCustomer.active}}</td>
                <td>
                    <div *ngIf="sellContractCustomer.sellContractId">
                        <a [routerLink]="['../sell-contract', sellContractCustomer.sellContractId  ]" >{{sellContractCustomer.sellContractId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sellContractCustomer.customerId">
                        <a [routerLink]="['../customer', sellContractCustomer.customerId  ]" >{{sellContractCustomer.customerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sellContractCustomer.locationId">
                        <a [routerLink]="['../location', sellContractCustomer.locationId  ]" >{{sellContractCustomer.locationName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sell-contract-customer', sellContractCustomer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sell-contract-customer/'+ sellContractCustomer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sell-contract-customer/'+ sellContractCustomer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="sellContractCustomers && sellContractCustomers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
