<div>
    <h2>
        <span jhiTranslate="niopdcgatewayApp.orderPayment.home.title">Order Payments</span>
        <button class="btn btn-primary float-right jh-create-entity create-order-payment" [routerLink]="['/', { outlets: { popup: ['order-payment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="niopdcgatewayApp.orderPayment.home.createLabel">
            Create new Order Payment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orderPayments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentId"><span jhiTranslate="niopdcgatewayApp.orderPayment.paymentId">Payment Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="decreasedPrice"><span jhiTranslate="niopdcgatewayApp.orderPayment.decreasedPrice">Decreased Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderOrderNo"><span jhiTranslate="niopdcgatewayApp.orderPayment.order">Order</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderPayment of orderPayments ;trackBy: trackId">
                <td><a [routerLink]="['../order-payment', orderPayment.id ]">{{orderPayment.id}}</a></td>
                <td>{{orderPayment.paymentId}}</td>
                <td>{{orderPayment.decreasedPrice}}</td>
                <td>
                    <div *ngIf="orderPayment.orderId">
                        <a [routerLink]="['../order', orderPayment.orderId  ]" >{{orderPayment.orderOrderNo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../order-payment', orderPayment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-payment/'+ orderPayment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-payment/'+ orderPayment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="orderPayments && orderPayments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
