<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="payment.id==null" class="modal-title" id="createLabel"
            jhiTranslate="entity.action.create">
            Create</h4>
        <h4 *ngIf="payment.id!=null && !isView" class="modal-title" id="editLabel"
            jhiTranslate="entity.action.edit">
            Edit</h4>
        <h4 *ngIf="isView" class="modal-title" id="viewLabel" jhiTranslate="entity.action.view">
            View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.payment.personId"
                           for="field_personId">Person Id</label>

                    <app-person-selector
                        [multiSelect]="false"
                        [(ngModel)]="payment.personId" class="form-control"
                        id="field_personId"
                        widthGrid="500px"
                        [ngModelOptions]="{standalone: true}"
                        ngDefaultControl
                        name="personId"
                        required
                    >
                    </app-person-selector>
                    <div [hidden]="!(editForm.controls.personId?.dirty && editForm.controls.personId?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.personId?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.payment.receiptNo"
                           for="field_receiptNo">Receipt No</label>
                    <input [disabled]="isView" type="text" class="form-control" name="receiptNo"
                           id="field_receiptNo"
                           [(ngModel)]="payment.receiptNo" required/>
                    <div [hidden]="!(editForm.controls.receiptNo?.dirty && editForm.controls.receiptNo?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receiptNo?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.payment.registerMethod"
                           for="field_receiptNo">Receipt No</label>
                    <select disabled class="form-control" name="registerMethod" [(ngModel)]="payment.registerMethod" id="field_registerMethod"  required>
                        <option value="BRANCH">{{'niopdcgatewayApp.ReceiptMethod.BRANCH' | translate}}</option>
                        <option value="EPAYMENT">{{'niopdcgatewayApp.ReceiptMethod.EPAYMENT' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.payment.receiptDateTime"
                           for="field_receiptDateTime">Receipt Date Time</label>
                    <div class="d-flex">
                        <ng2-datetimepicker [disabled]="isView" [rtlActive]="true" time="00:00:00"
                                            id="field_receiptDateTime" class="form-control"
                                            name="receiptDateTime" [(ngModel)]="payment.receiptDateTime"
                                            required></ng2-datetimepicker>
                    </div>
                    <div
                        [hidden]="!(editForm.controls.receiptDateTime?.dirty && editForm.controls.receiptDateTime?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receiptDateTime?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receiptDateTime?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.payment.amount" for="field_amount">Amount</label>
                    <input [disabled]="isView" type="number" class="form-control" name="amount" id="field_amount"
                           [(ngModel)]="payment.amount" required/>
                    <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.amount?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.amount?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.payment.currency" for="field_currency">Currency</label>
                    <select class="form-control" id="field_currency" name="currency" [(ngModel)]="payment.currencyId" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.title}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button *ngIf="!isView" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
