<div class="component">
    <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
    <jhi-alert></jhi-alert>
    <br/>
    <p-dataTable [sortField]="predicate" [sortOrder]="reverse ? -1 : 1" #dt [value]="transferTypes" [lazy]="true" [rows]="itemsPerPage" [rowsPerPageOptions]="[5,10,20,totalItems]"
                 [paginator]="true" [responsive]="true" [stacked]="false"
                 [totalRecords]="totalItems" (onLazyLoad)="loadLazy($event)"
                 [emptyMessage]="'global.messages.info.emptyRecords' | translate">
        <p-header>
            <div class="ui-helper-clearfix">
                <button class="btn btn-primary float-right create-entity"
                        *jhiHasAnyAuthority="['ROLE_ADMIN', 'CREATE_TRANSFER_TYPE']"
                        [routerLink]="['/', { outlets: { popup: ['transfer-type-new' ] } }]">
                    <span class="fa fa-plus"></span>
                    <span jhiTranslate="entity.action.create">Create</span>
                </button>
            </div>
        </p-header>

        <p-headerColumnGroup>
            <p-row>
                <p-column field="title" [sortable]="true">
                    <ng-template pTemplate="header">
                        <span jhiTranslate="samtagatewayApp.transferType.title">Title</span>
                    </ng-template>
                </p-column>
                <p-column field="transferFrom" [sortable]="true">
                    <ng-template pTemplate="header">
                        <span jhiTranslate="samtagatewayApp.transferType.transferFrom">Transfer From</span>
                    </ng-template>
                </p-column>
                <p-column field="transferTo" [sortable]="true">
                    <ng-template pTemplate="header">
                        <span jhiTranslate="samtagatewayApp.transferType.transferTo">Transfer To</span>
                    </ng-template>
                </p-column>
                <p-column field="activeMetre" [sortable]="true">
                    <ng-template pTemplate="header">
                        <span jhiTranslate="samtagatewayApp.transferType.activeMetre">Active Metre</span>
                    </ng-template>
                </p-column>
                <p-column field="transferToHimself" [sortable]="true">
                    <ng-template pTemplate="header">
                        <span jhiTranslate="samtagatewayApp.transferType.transferToHimself">Transfer To Himself</span>
                    </ng-template>
                </p-column>
                <p-column styleClass="col-button"></p-column>
            </p-row>
            <p-row>
                <p-column>
                    <ng-template pTemplate="header">
                        <input class="form-control" type="text"
                               name="title" id="field_title"
                               [(ngModel)]="transferType.title"
                               maxlength="42"
                               search-after-typed (onSearch)="search()"/>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <select class="form-control" name="transferFrom" (change)="search()"
                                [(ngModel)]="transferType.transferFrom" id="field_transferFrom">
                            <option></option>
                            <option value="MAIN">{{'samtagatewayApp.oilTankType.MAIN' | translate}}</option>
                            <option value="CONTAMINATED">{{'samtagatewayApp.oilTankType.CONTAMINATED' | translate}}</option>
                            <option value="SERVICE_TANK">{{'samtagatewayApp.oilTankType.SERVICE_TANK' | translate}}</option>
                            <option value="UNIT">{{'samtagatewayApp.oilTankType.UNIT' | translate}}</option>
                            <option value="PLATFORM">{{'samtagatewayApp.oilTankType.PLATFORM' | translate}}</option>
                            <option value="WATER_METHANOL">{{'samtagatewayApp.oilTankType.WATER_METHANOL' | translate}}</option>
                            <option value="EARTH">{{'samtagatewayApp.oilTankType.EARTH' | translate}}</option>
                            <option value="BASE_PRODUCT">{{'samtagatewayApp.oilTankType.BASE_PRODUCT' | translate}}</option>
                        </select>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <select class="form-control" name="transferTo" (change)="search()" [(ngModel)]="transferType.transferTo" id="field_transferTo">
                            <option></option>
                            <option value="MAIN">{{'samtagatewayApp.oilTankType.MAIN' | translate}}</option>
                            <option value="CONTAMINATED">{{'samtagatewayApp.oilTankType.CONTAMINATED' | translate}}</option>
                            <option value="SERVICE_TANK">{{'samtagatewayApp.oilTankType.SERVICE_TANK' | translate}}</option>
                            <option value="UNIT">{{'samtagatewayApp.oilTankType.UNIT' | translate}}</option>
                            <option value="PLATFORM">{{'samtagatewayApp.oilTankType.PLATFORM' | translate}}</option>
                            <option value="WATER_METHANOL">{{'samtagatewayApp.oilTankType.WATER_METHANOL' | translate}}</option>
                            <option value="EARTH">{{'samtagatewayApp.oilTankType.EARTH' | translate}}</option>
                            <option value="BASE_PRODUCT">{{'samtagatewayApp.oilTankType.BASE_PRODUCT' | translate}}</option>
                        </select>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <select class="form-control" name="activeMetre" (change)="search()" [(ngModel)]="transferType.activeMetre" id="field_activeMetre">
                            <option></option>
                            <option value="SOURCE">{{'samtagatewayApp.ActiveMetre.SOURCE' | translate}}</option>
                            <option value="TARGET">{{'samtagatewayApp.ActiveMetre.TARGET' | translate}}</option>
                        </select>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <select class="form-control" (change)="search()" name="transferToHimself"
                                [(ngModel)]="transferType.transferToHimself">
                            <option></option>
                            <option value="true" jhiTranslate="samtagatewayApp.transferType.transferToHimselfTrue">
                                true
                            </option>
                            <option value="false" jhiTranslate="samtagatewayApp.transferType.transferToHimselfFalse">
                                false
                            </option>
                        </select>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <button class="btn btn-info" (click)="search()">
                            <span class="fa fa-search"></span>
                        </button>
                        <button class=" btn btn-danger" (click)="clear()">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </ng-template>
                </p-column>
            </p-row>
        </p-headerColumnGroup>

        <p-column field="title" [header]="'samtagatewayApp.transferType.title' | translate"></p-column>
        <p-column field="transferFrom" [header]="'samtagatewayApp.transferType.transferFrom' | translate">
            <ng-template let-item="rowData" pTemplate="body">
                <span jhiTranslate="{{'samtagatewayApp.oilTankType.' + item.transferFrom}}">{{item.transferFrom}}</span>
            </ng-template></p-column>
        <p-column field="transferTo" [header]="'samtagatewayApp.transferType.transferTo' | translate">
            <ng-template let-item="rowData" pTemplate="body">
                <span jhiTranslate="{{'samtagatewayApp.oilTankType.' + item.transferTo}}">{{item.transferTo}}</span>
            </ng-template></p-column>
        <p-column field="activeMetre" [header]="'samtagatewayApp.transferType.activeMetre' | translate">
            <ng-template let-item="rowData" pTemplate="body">
                <span jhiTranslate="{{'samtagatewayApp.ActiveMetre.' + item.activeMetre}}">{{item.activeMetre}}</span>
            </ng-template></p-column>
        <p-column field="transferToHimself" [header]="'samtagatewayApp.transferType.transferToHimself' | translate">
            <ng-template let-item="rowData" pTemplate="body">
                <span class="fa" [ngClass]="{'fa-check':item.transferToHimself,'fa-close':!item.transferToHimself}"></span>
            </ng-template></p-column>
        <p-column class="component">
            <ng-template let-item="rowData" pTemplate="body">
                <div class="btn-group" ngbDropdown placement="right">
                    <button type="button" class="btn btn-primary"
                            *jhiHasAnyAuthorityDisabled="['ROLE_ADMIN', 'EDIT_TRANSFER_TYPE']"
                            replaceUrl="true"
                            [routerLink]="['/', { outlets: { popup: 'transfer-type/'+ item.id + '/edit'} }]">
                        <span class="fa fa-edit"></span>
                        <span jhiTranslate="entity.action.edit">ویرایش</span>
                    </button>

                    <button class="btn btn-primary" *jhiHasAnyAuthorityDisabled="['ROLE_ADMIN', 'VIEW_TRANSFER_TYPE', 'DELETE_TRANSFER_TYPE']"
                            ngbDropdownToggle></button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <button class="dropdown-item"
                                *jhiHasAnyAuthority="['ROLE_ADMIN', 'VIEW_TRANSFER_TYPE']"
                                replaceUrl="true"
                                [routerLink]="['/', { outlets: { popup: 'transfer-type/'+ item.id + '/view'} }]">
                            <span class="fa fa-eye"></span>
                            <span jhiTranslate="entity.action.view">نمایش</span>
                        </button>
                        <button class="dropdown-item"
                                *jhiHasAnyAuthority="['ROLE_ADMIN', 'DELETE_TRANSFER_TYPE']"
                                replaceUrl="true"
                                [routerLink]="['/', { outlets: { popup: 'transfer-type/'+ item.id + '/delete'} }]">
                            <span class="fa fa-remove"></span>
                            <span jhiTranslate="entity.action.delete">delete</span>
                        </button>

                    </div>
                </div>
            </ng-template>
        </p-column>
    </p-dataTable>

</div>
