<div>
    <h2>
        <span jhiTranslate="niopdcgatewayApp.billItem.home.title">Bill Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-bill-item" [routerLink]="['/', { outlets: { popup: ['bill-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="niopdcgatewayApp.billItem.home.createLabel">
            Create new Bill Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="billItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="niopdcgatewayApp.billItem.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productId"><span jhiTranslate="niopdcgatewayApp.billItem.productId">Product Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="litre"><span jhiTranslate="niopdcgatewayApp.billItem.litre">Litre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="costId"><span jhiTranslate="niopdcgatewayApp.billItem.costId">Cost Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="niopdcgatewayApp.billItem.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="costRatePrice"><span jhiTranslate="niopdcgatewayApp.billItem.costRatePrice">Cost Rate Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="costElementId"><span jhiTranslate="niopdcgatewayApp.billItem.costElementId">Cost Element Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="billId"><span jhiTranslate="niopdcgatewayApp.billItem.bill">Bill</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let billItem of billItems ;trackBy: trackId">
                <td><a [routerLink]="['../bill-item', billItem.id ]">{{billItem.id}}</a></td>
                <td>{{billItem.title}}</td>
                <td>{{billItem.productId}}</td>
                <td>{{billItem.litre}}</td>
                <td>{{billItem.costId}}</td>
                <td>{{billItem.price}}</td>
                <td>{{billItem.costRatePrice}}</td>
                <td>{{billItem.costElementId}}</td>
                <td>
                    <div *ngIf="billItem.billId">
                        <a [routerLink]="['../bill', billItem.billId  ]" >{{billItem.billId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bill-item', billItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bill-item/'+ billItem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bill-item/'+ billItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="billItems && billItems.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
