<div>
    <h2>
        <span jhiTranslate="niopdcgatewayApp.bankTransactionRef.home.title">Bank Transaction Refs</span>
        <button class="btn btn-primary float-right jh-create-entity create-bank-transaction-ref" [routerLink]="['/', { outlets: { popup: ['bank-transaction-ref-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="niopdcgatewayApp.bankTransactionRef.home.createLabel">
            Create new Bank Transaction Ref
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bankTransactionRefs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderId"><span jhiTranslate="niopdcgatewayApp.bankTransactionRef.orderId">Order Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="personId"><span jhiTranslate="niopdcgatewayApp.bankTransactionRef.personId">Person Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="customerId"><span jhiTranslate="niopdcgatewayApp.bankTransactionRef.customerId">Customer Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="niopdcgatewayApp.bankTransactionRef.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bankTransactionId"><span jhiTranslate="niopdcgatewayApp.bankTransactionRef.bankTransaction">Bank Transaction</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bankTransactionRef of bankTransactionRefs ;trackBy: trackId">
                <td><a [routerLink]="['../bank-transaction-ref', bankTransactionRef.id ]">{{bankTransactionRef.id}}</a></td>
                <td>{{bankTransactionRef.orderId}}</td>
                <td>{{bankTransactionRef.personId}}</td>
                <td>{{bankTransactionRef.customerId}}</td>
                <td>{{bankTransactionRef.amount}}</td>
                <td>
                    <div *ngIf="bankTransactionRef.bankTransactionId">
                        <a [routerLink]="['../bank-transaction', bankTransactionRef.bankTransactionId  ]" >{{bankTransactionRef.bankTransactionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bank-transaction-ref', bankTransactionRef.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-transaction-ref/'+ bankTransactionRef.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-transaction-ref/'+ bankTransactionRef.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="bankTransactionRefs && bankTransactionRefs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
