
<div *ngIf="bankTransactionRef">
    <h2><span jhiTranslate="samtagatewayApp.bankTransactionRef.detail.title">Bank Transaction Ref</span> {{bankTransactionRef.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="samtagatewayApp.bankTransactionRef.orderId">Order Id</span></dt>
        <dd>
            <span>{{bankTransactionRef.orderId}}</span>
        </dd>
        <dt><span jhiTranslate="samtagatewayApp.bankTransactionRef.personId">Person Id</span></dt>
        <dd>
            <span>{{bankTransactionRef.personId}}</span>
        </dd>
        <dt><span jhiTranslate="samtagatewayApp.bankTransactionRef.customerId">Customer Id</span></dt>
        <dd>
            <span>{{bankTransactionRef.customerId}}</span>
        </dd>
        <dt><span jhiTranslate="samtagatewayApp.bankTransactionRef.amount">Amount</span></dt>
        <dd>
            <span>{{bankTransactionRef.amount}}</span>
        </dd>
        <dt><span jhiTranslate="samtagatewayApp.bankTransactionRef.bankTransaction">Bank Transaction</span></dt>
        <dd>
            <div *ngIf="bankTransactionRef.bankTransactionId">
                <a [routerLink]="['/bank-transaction', bankTransactionRef.bankTransactionId]">{{bankTransactionRef.bankTransactionId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bank-transaction-ref/'+ bankTransactionRef.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
