<div>
    <h2>
        <span jhiTranslate="niopdcgatewayApp.orderProduct.home.title">Order Products</span>
        <button class="btn btn-primary float-right jh-create-entity create-order-product" [routerLink]="['/', { outlets: { popup: ['order-product-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="niopdcgatewayApp.orderProduct.home.createLabel">
            Create new Order Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orderProducts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sellContractProductId"><span jhiTranslate="niopdcgatewayApp.orderProduct.sellContractProductId">Sell Contract Product Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productId"><span jhiTranslate="niopdcgatewayApp.orderProduct.productId">Product Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rateGroupId"><span jhiTranslate="niopdcgatewayApp.orderProduct.rateGroupId">Rate Group Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalPrice"><span jhiTranslate="niopdcgatewayApp.orderProduct.totalPrice">Total Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="basePrice"><span jhiTranslate="niopdcgatewayApp.orderProduct.basePrice">Base Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productRatePrice"><span jhiTranslate="niopdcgatewayApp.orderProduct.productRatePrice">Product Rate Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productRateId"><span jhiTranslate="niopdcgatewayApp.orderProduct.productRateId">Product Rate Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="containerRateId"><span jhiTranslate="niopdcgatewayApp.orderProduct.containerRateId">Container Rate Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="containerRatePrice"><span jhiTranslate="niopdcgatewayApp.orderProduct.containerRatePrice">Container Rate Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="costPrice"><span jhiTranslate="niopdcgatewayApp.orderProduct.costPrice">Cost Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="niopdcgatewayApp.orderProduct.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderOrderNo"><span jhiTranslate="niopdcgatewayApp.orderProduct.order">Order</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderProduct of orderProducts ;trackBy: trackId">
                <td><a [routerLink]="['../order-product', orderProduct.id ]">{{orderProduct.id}}</a></td>
                <td>{{orderProduct.sellContractProductId}}</td>
                <td>{{orderProduct.productId}}</td>
                <td>{{orderProduct.rateGroupId}}</td>
                <td>{{orderProduct.totalPrice}}</td>
                <td>{{orderProduct.basePrice}}</td>
                <td>{{orderProduct.productRatePrice}}</td>
                <td>{{orderProduct.productRateId}}</td>
                <td>{{orderProduct.containerRateId}}</td>
                <td>{{orderProduct.containerRatePrice}}</td>
                <td>{{orderProduct.costPrice}}</td>
                <td>{{orderProduct.amount}}</td>
                <td>
                    <div *ngIf="orderProduct.orderId">
                        <a [routerLink]="['../order', orderProduct.orderId  ]" >{{orderProduct.orderOrderNo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../order-product', orderProduct.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-product/'+ orderProduct.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-product/'+ orderProduct.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="orderProducts && orderProducts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
