
<div *ngIf="orderProduct">
    <h2><span jhiTranslate="niopdcgatewayApp.orderProduct.detail.title">Order Product</span> {{orderProduct.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="niopdcgatewayApp.orderProduct.sellContractProductId">Sell Contract Product Id</span></dt>
        <dd>
            <span>{{orderProduct.sellContractProductId}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.orderProduct.productId">Product Id</span></dt>
        <dd>
            <span>{{orderProduct.productId}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.orderProduct.rateGroupId">Rate Group Id</span></dt>
        <dd>
            <span>{{orderProduct.rateGroupId}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.orderProduct.totalPrice">Total Price</span></dt>
        <dd>
            <span>{{orderProduct.totalPrice}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.orderProduct.basePrice">Base Price</span></dt>
        <dd>
            <span>{{orderProduct.basePrice}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.orderProduct.productRatePrice">Product Rate Price</span></dt>
        <dd>
            <span>{{orderProduct.productRatePrice}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.orderProduct.productRateId">Product Rate Id</span></dt>
        <dd>
            <span>{{orderProduct.productRateId}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.orderProduct.containerRateId">Container Rate Id</span></dt>
        <dd>
            <span>{{orderProduct.containerRateId}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.orderProduct.containerRatePrice">Container Rate Price</span></dt>
        <dd>
            <span>{{orderProduct.containerRatePrice}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.orderProduct.costPrice">Cost Price</span></dt>
        <dd>
            <span>{{orderProduct.costPrice}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.orderProduct.amount">Amount</span></dt>
        <dd>
            <span>{{orderProduct.amount}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.orderProduct.order">Order</span></dt>
        <dd>
            <div *ngIf="orderProduct.orderId">
                <a [routerLink]="['/order', orderProduct.orderId]">{{orderProduct.orderOrderNo}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'order-product/'+ orderProduct.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
