<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="changeFilterElement.id==null" class="modal-title" id="createLabel"
            jhiTranslate="samtagatewayApp.changeFilterElement.home.createLabel">
            Create</h4>
        <h4 *ngIf="changeFilterElement.id!=null && !isView" class="modal-title" id="editLabel"
            jhiTranslate="samtagatewayApp.changeFilterElement.home.createOrEditLabel">
            Edit</h4>
        <h4 *ngIf="isView" class="modal-title" id="viewLabel" jhiTranslate="samtagatewayApp.changeFilterElement.home.view">
            View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.model"
                           for="field_model">Model</label>
                    <input [disabled]="isView" type="text" class="form-control" name="model" id="field_model"
                           [(ngModel)]="changeFilterElement.model" required/>
                    <div [hidden]="!(editForm.controls.model?.dirty && editForm.controls.model?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.model?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.capacity"
                           for="field_capacity">Capacity</label>
                    <input [disabled]="isView" type="number" class="form-control" name="capacity" id="field_capacity"
                           [(ngModel)]="changeFilterElement.capacity" required/>
                    <div [hidden]="!(editForm.controls.capacity?.dirty && editForm.controls.capacity?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.capacity?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.capacity?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.operatingFlow"
                           for="field_operatingFlow">Operating Flow</label>
                    <input [disabled]="isView" type="number" class="form-control" name="operatingFlow"
                           id="field_operatingFlow"
                           [(ngModel)]="changeFilterElement.operatingFlow" required/>
                    <div
                        [hidden]="!(editForm.controls.operatingFlow?.dirty && editForm.controls.operatingFlow?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.operatingFlow?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.operatingFlow?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.pdMax"
                           for="field_pdMax">Pd Max</label>
                    <input [disabled]="isView" type="number" class="form-control" name="pdMax" id="field_pdMax"
                           [(ngModel)]="changeFilterElement.pdMax" required/>
                    <div [hidden]="!(editForm.controls.pdMax?.dirty && editForm.controls.pdMax?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.pdMax?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.pdMax?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0"
                    jhiTranslate="samtagatewayApp.changeFilterElement.home.elementFilterType">
                    Create or edit a Customer
                </h5>
            </div>
            <div class="card-block container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.microFilter"
                                   for="field_microFilter">Micro Filter</label>
                            <input [disabled]="isView" type="text" class="form-control" name="microFilter"
                                   id="field_microFilter"
                                   [(ngModel)]="changeFilterElement.microFilter"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.microFilterCount"
                                   for="field_microFilterCount">Micro Filter Count</label>
                            <input [disabled]="isView" type="number" class="form-control" name="microFilterCount"
                                   id="field_microFilterCount"
                                   [(ngModel)]="changeFilterElement.microFilterCount"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.coalescer"
                                   for="field_coalescer">Coalescer</label>
                            <input [disabled]="isView" type="text" class="form-control" name="coalescer" id="field_coalescer"
                                   [(ngModel)]="changeFilterElement.coalescer"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.coalescerCount"
                                   for="field_coalescerCount">Coalescer Count</label>
                            <input [disabled]="isView" type="number" class="form-control" name="coalescerCount"
                                   id="field_coalescerCount"
                                   [(ngModel)]="changeFilterElement.coalescerCount"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.separator"
                                   for="field_separator">Separator</label>
                            <input [disabled]="isView" type="text" class="form-control" name="separator" id="field_separator"
                                   [(ngModel)]="changeFilterElement.separator"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.separatorCount"
                                   for="field_separatorCount">Separator Count</label>
                            <input [disabled]="isView" type="number" class="form-control" name="separatorCount"
                                   id="field_separatorCount"
                                   [(ngModel)]="changeFilterElement.separatorCount"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.monitor"
                                   for="field_monitor">Monitor</label>
                            <input [disabled]="isView" type="text" class="form-control" name="monitor" id="field_monitor"
                                   [(ngModel)]="changeFilterElement.monitor"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.monitorCount"
                                   for="field_monitorCount">Monitor Count</label>
                            <input [disabled]="isView" type="number" class="form-control" name="monitorCount"
                                   id="field_monitorCount"
                                   [(ngModel)]="changeFilterElement.monitorCount"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.lastChangeDate"
                           for="field_lastChangeDate">Last Change Date</label>
                    <div class="d-flex">
                        <ng2-datetimepicker [disableTime]="true"[disabled]="isView" [rtlActive]="true" time="00:00:00"
                                            id="field_lastChangeDate"
                                            class="form-control"
                                            name="lastChangeDate" [(ngModel)]="changeFilterElement.lastChangeDate"
                                            required></ng2-datetimepicker>
                    </div>
                    <div
                        [hidden]="!(editForm.controls.lastChangeDate?.dirty && editForm.controls.lastChangeDate?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.lastChangeDate?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.lastChangeDate?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.reasonOfChange"
                           for="field_reasonOfChange">Reason Of Change</label>
                    <input [disabled]="isView" type="text" class="form-control" name="reasonOfChange"
                           id="field_reasonOfChange"
                           [(ngModel)]="changeFilterElement.reasonOfChange" required minlength="1" maxlength="43"/>
                    <div
                        [hidden]="!(editForm.controls.reasonOfChange?.dirty && editForm.controls.reasonOfChange?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.reasonOfChange?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.reasonOfChange?.errors?.minlength"
                               jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                            This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.reasonOfChange?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" translateValues="{ max: 43 }">
                            This field cannot be longer than 43 characters.
                        </small>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="samtagatewayApp.changeFilterElement.conditionOfSeals"
                           for="field_conditionOfSeals">Condition Of Seals</label>
                    <input [disabled]="isView" type="checkbox" class="form-control" name="conditionOfSeals"
                           id="field_conditionOfSeals"
                           [(ngModel)]="changeFilterElement.conditionOfSeals"/>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="samtagatewayApp.changeFilterElement.conditionOfCoating"
                           for="field_conditionOfCoating">Condition Of Coating</label>
                    <input [disabled]="isView" type="checkbox" class="form-control" name="conditionOfCoating"
                           id="field_conditionOfCoating"
                           [(ngModel)]="changeFilterElement.conditionOfCoating"/>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.pdGauge"
                           for="field_pdGauge">Pd Gauge</label>
                    <input [disabled]="isView" type="checkbox" class="form-control" name="pdGauge" id="field_pdGauge"
                           [(ngModel)]="changeFilterElement.pdGauge"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.airEliminator"
                           for="field_airEliminator">Air Eliminator</label>
                    <input [disabled]="isView" type="checkbox" class="form-control" name="airEliminator"
                           id="field_airEliminator"
                           [(ngModel)]="changeFilterElement.airEliminator"/>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.reliefValue"
                           for="field_reliefValue">Relief Value</label>
                    <input [disabled]="isView" type="checkbox" class="form-control" name="reliefValue"
                           id="field_reliefValue"
                           [(ngModel)]="changeFilterElement.reliefValue"/>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="samtagatewayApp.changeFilterElement.sampleDrainValue"
                           for="field_sampleDrainValue">Sample Drain Value</label>
                    <input [disabled]="isView" type="checkbox" class="form-control" name="sampleDrainValue"
                           id="field_sampleDrainValue"
                           [(ngModel)]="changeFilterElement.sampleDrainValue"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.namePlate"
                           for="field_namePlate">Name Plate</label>
                    <input [disabled]="isView" type="checkbox" class="form-control" name="namePlate"
                           id="field_namePlate"
                           [(ngModel)]="changeFilterElement.namePlate"/>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="samtagatewayApp.changeFilterElement.conditionOfCartridges"
                           for="field_conditionOfCartridges">Condition Of Cartridges</label>
                    <input [disabled]="isView" type="checkbox" class="form-control" name="conditionOfCartridges"
                           id="field_conditionOfCartridges"
                           [(ngModel)]="changeFilterElement.conditionOfCartridges"/>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0"
                    jhiTranslate="samtagatewayApp.changeFilterElement.home.elementInstalledType">
                    Create or edit a Customer
                </h5>
            </div>
            <div class="card-block container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.microFilterType"
                                   for="field_microFilterType">Micro Filter Type</label>
                            <input [disabled]="isView" type="text" class="form-control" name="microFilterType"
                                   id="field_microFilterType"
                                   [(ngModel)]="changeFilterElement.microFilterType"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.microFilterTypeCount"
                                   for="field_microFilterTypeCount">Micro Filter Type Count</label>
                            <input [disabled]="isView" type="number" class="form-control" name="microFilterTypeCount"
                                   id="field_microFilterTypeCount"
                                   [(ngModel)]="changeFilterElement.microFilterTypeCount"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.coalescerType"
                                   for="field_coalescerType">Coalescer Type</label>
                            <input [disabled]="isView" type="text" class="form-control" name="coalescerType"
                                   id="field_coalescerType"
                                   [(ngModel)]="changeFilterElement.coalescerType"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.coalescerTypeCount"
                                   for="field_coalescerTypeCount">Coalescer Type Count</label>
                            <input [disabled]="isView" type="number" class="form-control" name="coalescerTypeCount"
                                   id="field_coalescerTypeCount"
                                   [(ngModel)]="changeFilterElement.coalescerTypeCount"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.separatorType"
                                   for="field_separatorType">Separator Type</label>
                            <input [disabled]="isView" type="text" class="form-control" name="separatorType"
                                   id="field_separatorType"
                                   [(ngModel)]="changeFilterElement.separatorType"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.separatorTypeCount"
                                   for="field_separatorTypeCount">Separator Type Count</label>
                            <input [disabled]="isView" type="number" class="form-control" name="separatorTypeCount"
                                   id="field_separatorTypeCount"
                                   [(ngModel)]="changeFilterElement.separatorTypeCount"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.monitorType"
                                   for="field_monitorType">Monitor Type</label>
                            <input [disabled]="isView" type="text" class="form-control" name="monitorType"
                                   id="field_monitorType"
                                   [(ngModel)]="changeFilterElement.monitorType"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.monitorTypeCount"
                                   for="field_monitorTypeCount">Monitor Type Count</label>
                            <input [disabled]="isView" type="number" class="form-control" name="monitorTypeCount"
                                   id="field_monitorTypeCount"
                                   [(ngModel)]="changeFilterElement.monitorTypeCount"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0"
                    jhiTranslate="samtagatewayApp.changeFilterElement.home.torqueOfCartridgesMounting">
                    Create or edit a Customer
                </h5>
            </div>
            <div class="card-block container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.microFilterTorque"
                                   for="field_microFilterTorque">Micro Filter Torque</label>
                            <input [disabled]="isView" type="text" class="form-control" name="microFilterTorque"
                                   id="field_microFilterTorque"
                                   [(ngModel)]="changeFilterElement.microFilterTorque"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.microFilterTorqueCount"
                                   for="field_microFilterTorqueCount">Micro Filter Torque Count</label>
                            <input [disabled]="isView" type="number" class="form-control" name="microFilterTorqueCount"
                                   id="field_microFilterTorqueCount"
                                   [(ngModel)]="changeFilterElement.microFilterTorqueCount"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.coalescerTorque"
                                   for="field_coalescerTorque">Coalescer Torque</label>
                            <input [disabled]="isView" type="text" class="form-control" name="coalescerTorque"
                                   id="field_coalescerTorque"
                                   [(ngModel)]="changeFilterElement.coalescerTorque"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.coalescerTorqueCount"
                                   for="field_coalescerTorqueCount">Coalescer Torque Count</label>
                            <input [disabled]="isView" type="number" class="form-control" name="coalescerTorqueCount"
                                   id="field_coalescerTorqueCount"
                                   [(ngModel)]="changeFilterElement.coalescerTorqueCount"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.separatorTorque"
                                   for="field_separatorTorque">Separator Torque</label>
                            <input [disabled]="isView" type="text" class="form-control" name="separatorTorque"
                                   id="field_separatorTorque"
                                   [(ngModel)]="changeFilterElement.separatorTorque"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.separatorTorqueCount"
                                   for="field_separatorTorqueCount">Separator Torque Count</label>
                            <input [disabled]="isView" type="number" class="form-control" name="separatorTorqueCount"
                                   id="field_separatorTorqueCount"
                                   [(ngModel)]="changeFilterElement.separatorTorqueCount"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.monitorTorque"
                                   for="field_monitorTorque">Monitor Torque</label>
                            <input [disabled]="isView" type="text" class="form-control" name="monitorTorque"
                                   id="field_monitorTorque"
                                   [(ngModel)]="changeFilterElement.monitorTorque"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="form-control-label"
                                   jhiTranslate="samtagatewayApp.changeFilterElement.monitorTorqueCount"
                                   for="field_monitorTorqueCount">Monitor Torque Count</label>
                            <input [disabled]="isView" type="number" class="form-control" name="monitorTorqueCount"
                                   id="field_monitorTorqueCount"
                                   [(ngModel)]="changeFilterElement.monitorTorqueCount"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.flowTest"
                           for="field_flowTest">Flow Test</label>
                    <input [disabled]="isView" type="number" class="form-control" name="flowTest" id="field_flowTest"
                           [(ngModel)]="changeFilterElement.flowTest" required/>
                    <div [hidden]="!(editForm.controls.flowTest?.dirty && editForm.controls.flowTest?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.flowTest?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.flowTest?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.installedBy"
                           for="field_installedBy">Installed By</label>
                    <input [disabled]="isView" type="text" class="form-control" name="installedBy"
                           id="field_installedBy"
                           [(ngModel)]="changeFilterElement.installedBy" required minlength="1" maxlength="43"/>
                    <div [hidden]="!(editForm.controls.installedBy?.dirty && editForm.controls.installedBy?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.installedBy?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.installedBy?.errors?.minlength"
                               jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                            This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.installedBy?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" translateValues="{ max: 43 }">
                            This field cannot be longer than 43 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.supervisedBy"
                           for="field_supervisedBy">Supervised By</label>
                    <input [disabled]="isView" type="text" class="form-control" name="supervisedBy"
                           id="field_supervisedBy"
                           [(ngModel)]="changeFilterElement.supervisedBy" required/>
                    <div [hidden]="!(editForm.controls.supervisedBy?.dirty && editForm.controls.supervisedBy?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.supervisedBy?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.pdReading"
                           for="field_pdReading">Pd Reading</label>
                    <input [disabled]="isView" type="number" class="form-control" name="pdReading" id="field_pdReading"
                           [(ngModel)]="changeFilterElement.pdReading" required/>
                    <div [hidden]="!(editForm.controls.pdReading?.dirty && editForm.controls.pdReading?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.pdReading?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.pdReading?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.manufacture"
                           for="field_manufacture">Manufacture</label>
                    <select class="form-control" id="field_manufacture" name="manufacture"
                            [(ngModel)]="changeFilterElement.manufactureId" required>
                        <option *ngIf="!editForm.value.manufacture" [ngValue]="null" selected></option>
                        <option [ngValue]="manufactureOption.id"
                                *ngFor="let manufactureOption of manufactures; trackBy: trackManufactureById">
                            {{manufactureOption.name}}
                        </option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.manufacture?.dirty && editForm.controls.manufacture?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.manufacture?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.refuelCenter"
                           for="field_refuelCenter">RefuelCenter</label>
                    <select class="form-control" id="field_refuelCenter" name="refuelCenter"
                            [(ngModel)]="changeFilterElement.refuelCenterId" required>
                        <option *ngIf="!editForm.value.refuelCenter" [ngValue]="null" selected></option>
                        <option [ngValue]="refuelCenterOption.id"
                                *ngFor="let refuelCenterOption of refuelCenters; trackBy: trackRefuelCenterById">
                            {{refuelCenterOption.persianTitle}}
                        </option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.refuelCenter?.dirty && editForm.controls.refuelCenter?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.refuelCenter?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.oilTank"
                           for="field_oilTank">Oil Tank</label>
                    <select class="form-control" id="field_oilTank" name="oilTank"
                            [(ngModel)]="changeFilterElement.oilTankId" required>
                        <option *ngIf="!editForm.value.oilTank" [ngValue]="null" selected></option>
                        <option [ngValue]="oilTankOption.id"
                                *ngFor="let oilTankOption of oiltanks; trackBy: trackOilTankById">
                            {{oilTankOption.title}}
                        </option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.oilTank?.dirty && editForm.controls.oilTank?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.oilTank?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="col-xs-12 col-md-4" style="text-align: center;margin-top: auto">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="samtagatewayApp.changeFilterElement.isSend"
                           for="field_isSend">Is Send</label>
                    <input [disabled]="isView" type="checkbox" class="form-control" name="isSend" id="field_isSend"
                           [(ngModel)]="changeFilterElement.isSend"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button *ngIf="!isView" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
