<div>
    <h2>
        <span jhiTranslate="samtagatewayApp.paymentBill.home.title">Payment Bills</span>
        <button class="btn btn-primary float-right jh-create-entity create-payment-bill" [routerLink]="['/', { outlets: { popup: ['payment-bill-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="samtagatewayApp.paymentBill.home.createLabel">
            Create new Payment Bill
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="paymentBills">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="spentDate"><span jhiTranslate="samtagatewayApp.paymentBill.spentDate">Spent Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="samtagatewayApp.paymentBill.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="customerId"><span jhiTranslate="samtagatewayApp.paymentBill.customerId">Customer Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="personId"><span jhiTranslate="samtagatewayApp.paymentBill.personId">Person Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="samtagatewayApp.paymentBill.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="billId"><span jhiTranslate="samtagatewayApp.paymentBill.billId">Bill Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentId"><span jhiTranslate="samtagatewayApp.paymentBill.payment">Payment</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentBill of paymentBills ;trackBy: trackId">
                <td><a [routerLink]="['../payment-bill', paymentBill.id ]">{{paymentBill.id}}</a></td>
                <td>{{paymentBill.spentDate | date:'medium'}}</td>
                <td>{{paymentBill.amount}}</td>
                <td>{{paymentBill.customerId}}</td>
                <td>{{paymentBill.personId}}</td>
                <td jhiTranslate="{{'samtagatewayApp.SpentType.' + paymentBill.type}}">{{paymentBill.type}}</td>
                <td>{{paymentBill.billId}}</td>
                <td>
                    <div *ngIf="paymentBill.paymentId">
                        <a [routerLink]="['../payment', paymentBill.paymentId  ]" >{{paymentBill.paymentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../payment-bill', paymentBill.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-bill/'+ paymentBill.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-bill/'+ paymentBill.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="paymentBills && paymentBills.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
